
./*.php
./*.shtml
.htaccess
license.txt
readme.html
wp-*.php
xmlrpc.php
sreplace.php
4*.shtml
5*.*
*.log
Thumbs.db
index.php

wp-admin/
wp-includes/
wp-content/install.php
wp-content/upgrade/
wp-content/uploads/
wp-content/backups/
wp-content/a6fcf2a7de-backups/
wp-content/index.php
wp-content/themes/smallbiz/
wp-content/themes/twentyten/
wp-content/themes/twentyeleven/
wp-content/themes/.DS_Store
wp-content/themes/._.DS_Store
wp-content/themes/._smallbiz
wp-content/themes/index.php
wp-content/plugins/app-your-wordpress-uppsite/
wp-content/plugins/custom-login/
wp-content/plugins/jetpack/
wp-content/plugins/wiziapp/
wp-content/plugins/exclude-pages/
wp-content/plugins/.DS_Store
wp-content/plugins/index.php
wp-content/plugins/backupwordpress
wp-content/plugins/dk-new-medias-image-rotator-widget/
wp-content/connection_images/
wp-content/plugins/connections
wp-content/themes/sbcs/tmp

